body {
	font-family: 'Lato', sans-serif;
	color: #fff;
}

h1, h2 {
	font-size: 58px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 35px;
}

h1 span {
	color: rgb(22, 160, 133);
}

h2 {
	font-size: 48px;
}

p {
	font-size: 18px;
	margin-bottom: 20px;
}

pre {
	margin-bottom: 35px;
}

th {
	font-weight: bold;
}

.heading {
	text-align: center;
}

.block {
	padding: 60px 0 100px;

}

.main {
	background-color: #2F4254;
}

.usage {
	background-color: rgb(52, 73, 94);
}

.options {
	background-color: rgb(22, 160, 133);
}

.table {
	background-color: #fff;
	color: #000;
}